  body{
    background-image: url("background.jpg");
    
  }
 #fdiv{
 width: 100%;
 font-size: 28px;
 height: 200px;
 box-shadow:5px 5px 5px grey;
 }
 #sdiv{
  font-size: 20px;
  border-radius: 20px;
  box-shadow:5px 5px 5px grey;
  }
  #tdiv{
    font-size: 15px;
    box-shadow:5px 5px 5px grey;
    }
    #div{
      background-color: gray;
      text-align: center;
      margin-top: 400px;
      font-family: 'Redressed', cursive;
      font-size: 30px;
    }
    canvas{
      border-color: indianred;
      border-width: 6px;
      border-style: solid;
      box-shadow: 5px 5px 19px indianred;
    }